<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<div class="header_background">
  <h1 class="header_text">New person</h1>
</div>
<ul class="navbar">
  <li><a href="/people">People</a>
  <li><a href="/books">Books</a>
</ul>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>
  <label for="yearOfBirth">Enter year of birth: </label>
  <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year Error</div>
  <br/>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>